<div class="grid-container">
  <div class="content">
    <h1>Goeun's To Do list:</h1>

    <ul>
      <% @tasks.each do |task| %>
      <li>
        <%= task.action %>,  task completed:
        <%= task.completed_date %>
        
      </li>
      <% end %>
    </ul>
  </div>

</div>
