<div class="grid-container">

  <%= render partial: "menu" %>

  <div class="content">
    <%= render partial: "task_form", locals: {
      form_title: "New Task",
      action_type: "Create a New Task"
    }
    %>
  </div>
</div>
