<div class="grid-container">



  <div class="left-column">
    <h1>task list</h1>

    <div class="new-task">
      <p>
        New Task
      </p>
    </div>
  </div>


  <div class="content">
    <h2>Selected Task</h2>
    <p>
      <%= @task.action %>
    </p>

  </div>


</div>
