<div class="grid-container">



  <div class="left-column">
    <h1><%= link_to "Task List", tasks_path %></h1>

    <p>
      <%= link_to "New Task", new_task_path, class: "new-task"%>
    </p>

  </div>


  <div class="content">
    <h2>Selected Task</h2>
    <p>
      <%= @task.action %>
    </p>

  </div>


</div>
